################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ref/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp1/Properties
/ConsoleApp1/.vs/ProjectEvaluation
/ConsoleApp1/RarBrute.PasswordFinder.BL/bin/Debug/net6.0
/ConsoleApp1/RarBrute.PasswordFinder.BL/obj
